.no-transform{
    transform: none !important;
}
.floating-cart-container{
     position: fixed;
     right: 0;
     top:50%;
     transform: translateY(-50%);
     z-index: 10;

    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px 0 0 10px;
    border: 2px solid red;   
}

.floating-cart-item-number{
    width: 100%;
 border-bottom: 2px solid red;
 padding-bottom: 15px;
}
.floating-cart-icon{
     font-size: 30px;
    font-weight: bold;
    width: 100%;   
}


//Minicart
.cart-container{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    background-color: black;
    z-index: 100;
    transform: translateX(50%);
    transition: all 0.7s ease-in;
}
.cart-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255 / 0.6);
    z-index: 10;
}
//orverwrittern rule
.position-right{
    position: absolute;
    right: 10px;
}
.position-left{
    position: absolute;
    left: 10px;
}
.ui.selection.dropdown{
    min-width: 2em !important;
}
.margin-left{
    margin-left: 10px !important;
}
div.header, div.actions{
   margin: 30px 0;
}
.ui.segment{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.ui[class*="center aligned"].grid>.row>.column{
    text-align: left !important;
}
@media only screen and (max-width: 767px)
{
    .ui.modal .image.content {
     -webkit-box-orient: horizontal;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
     flex-direction: row; 
}
.ui.modal .content>.description{
    width: auto !important;
    margin-left: 1em !important;
}
.ui.table:not(.unstackable) tr{
    display: inline !important;
   border: none !important;
   box-shadow: none !important;
}
}